body {
  /* background-color: #cbc3e3; */
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 25px;
  overflow-x: hidden;
}

.centerFooter {
  /*Center's footer*/
  margin-top: 65%;
  margin-bottom: 2%;
  text-align: center;
}

summary {
  font-size: 28px;
}

#weatherImage {
  height: 200px;
  width: 200px;
}
details[open] summary {
  border: 2px solid black;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 20%;
}

details table {
  margin-top: 5%;
}

tr td {
  font-size: 22px;
  padding: 2%;
  padding-left: 20%;
}

#sunriseTime,
#sunsetTime {
  padding-left: 50%;
}

#parentContainer,
#newsContainer {
  background-color: white;
  border: 3px solid black;
  float: left;
  padding-top: 10px;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 10%;
  margin: 10% 5% 10% 5%;
}

#tempContainer {
  float: right;
}

#tempContainer h2,
#tempContainer h3 {
  padding-bottom: 2%;
}

#newsContainer {
  float: right;
}

#timeDataFetched {
  color: #aaa;
  font-size: small;
  text-align: end;
  float: left;
}

.navBar {
  /*Navigation bar*/
  background-color: rgb(29, 28, 28);
  color: white;
  font-size: 30px;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
  text-align: center;
  padding: 0 10px 10px 0;
  margin: 0 0 5px 0;
}
.navBar a {
  /*navBar color for text/links*/
  color: white;
}
.navBar a:hover {
  /*Hover color on navBar text*/
  color: #00ffff;
}

.spaceOutNavContent {
  /*Spacing between elements in navBar*/
  padding: 5%;
}
